:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  display: none;
}
main::-webkit-scrollbar {
  display: none;
}

/* Каталог */
.catalog .n-list__header {
  padding: 0 20px !important;
}
.catalog .n-h4 {
  margin-bottom: 12px;
}

.main-header.n-menu.n-menu--horizontal .n-menu-item:first-child {
  font-weight: bold;
  font-size: 2rem;
}
.main-header.n-menu.n-menu--horizontal .n-menu-item-content {
  padding: 0 12px 0 0;
}

.n-statistic .n-statistic-value {
  margin-top: 0;
}
.n-badge {
  height: 100%;
}
